.home {
  font-family: 'Times new roman', sans-serif;
  .logo {
    font-family: 'Flamenco', cursive;
    font-size: 35px;
    line-height: $navigation-height;
    color: $white;
  }

  #intro {
    h1, h2, p {
      margin-bottom: 0;
    }
    overflow: hidden;
    min-height: 480px;
    position: relative;
    color: #cdcdcd;
    background-image: url('/images/nyc.JPG');
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    @include media($mobile) {
      background-position: center;
    }
    hr {
      border: 1px inset $white;
    }
    p {
      font-size: modular-scale(1);
    }

    @include media($tablet) {
      background-position: 80% 32%;
      p {
        font-size: modular-scale(0);
      }
    }
    .banner {
      position: absolute;
      bottom: 10em;
      width: 50%;
      left: 5em;
      text-align: center;
      @include media($tablet) {
        bottom: 5em;
        width: 80%;
        left: 10%;
      }
    }

  }
}